:root {
  --black: #262626;
  --white: white;
}

* {
  font-family: "IBM Plex Mono", monospace;
}

.center-content {
  justify-content: center;
  align-items: center;
  text-align: center;
} 

#page-wrapper {
  display: block;
  padding: 10vh;
  height: 100%;
}

#canvas-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

canvas {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  margin: 10pt;
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);
  transition: transform 0.5s ease;
}

canvas:hover {
  transform: scale(1.2);
}

#header {
  color: var(--black);
  background-color: transparent;
  padding: 10px;
  text-decoration: underline;
  transition: color 0.5s ease, background-color 0.5s ease;
}

#header:hover {
  background-color: var(--black);
  color: var(--white)
}

@media screen and (max-width: 700px) {
  #page-wrapper {padding: 1vh;}

  canvas {
    height: min(75vh, 75vw);
    width: min(75vh, 75vw);
  }

}