* {
  font-family: "IBM Plex Mono", monospace;
}

.center-content {
  justify-content: center;
  align-items: center;
  text-align: center;
} 

#page-wrapper {
  display: box;
  padding: 10vh;
  height: 100%;
}

#canvas-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

canvas {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  margin: 10pt;
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);
  transition: 0.25s;
}

canvas:hover {
  transform: scale(1.5);

}